html {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #354657;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    margin-left: 187px;
    display: flex;
}

h2 {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 17.33px;
    margin-left: 187px;
    font-size: 1.5rem;
    width: 80%;
}

.left, .right {
    display: inline-block;
    vertical-align: top;
}

.right {
    margin-left: 30px;
    width: 1040px;
}

.login, .info {
    width: 384px;
    background-color: #F0F2F5;
    padding: 20px;
}

.bold {
    font-weight: bold;
    padding-bottom: 20px;
}

.delivery, .payment {
    background-color: #F0F2F5;
    padding: 20px;
}

.info input {
    padding: 11px 20px;
    box-sizing: border-box;
    width: 344px;
    border-color: #FFFFFF;
    margin-top: 20px;
}

.info_details {
    margin-bottom: 20px;
    font-size: 14px;
}

::placeholder {
    color: #ADA8A8;
    font-size: 14px;
}

.basket {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
}

.header {
    background-color: #F0F2F5;
    text-transform: uppercase;
}

.header th {
    padding: 20px
}

.body input {
    width: 46.47px;
    height: 33px;
    border: 1px solid #E9E9E9;
}

.body form {
    display: inline-block;
}

.bt1 a {
    background-color: #946fd3;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 15%;
    position: relative;
}

.bt2 a {
    background-color: #F83737;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 15%;
}

.count div {
    display: inline-block;
    text-align: center;
}

.v1 {
    position: relative;
    left: 8px;
    top: 2px;
}

.v2 {
    position: relative;
    top: 10px;
    right: 7px;
}

.v3 {
    position: relative;
    top: 7px;
}

.total {
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    text-align: right;
}

.comment {
    background-color: #F0F2F5;
    padding: 20px;
}

.textarea input {
    resize: none;
    width: 940px;
    height: 86px;
    border-color: #FFFFFF;
    padding: 11px 20px;
    text-align: left;
}

.checkbox {
    padding-top: 16px;
}

.btn {
    border-radius: 50px;
    border: 2px solid #946FD3;
    width: 206px;
    padding: 20px 0;
    background-color: white;
    color: #946FD3;
    font-size: .8rem;
    font-weight: bold;
    transition: all .3s;
    margin: 50px 30px 0 0;
    position: relative;
    left: 770px;
}

.btn:active {
    background-color: #946FD3;
    color: white;
    border-color: white;
}